@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  transition: all 3s;
  box-sizing: border-box;
  background-color: #060801;
  color: #fff;
  /* background-attachment: fixed; */
  /* background-image: url('/stars.png'); */
  /* background-repeat: no-repeat; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Domine", serif;
}

.slidingTextContainer {
  position: absolute;
  font-size: 50vh;
  bottom: -120px;
  white-space: nowrap;
  color: #ffffff09;
  width: 50%;
  font-weight: bold;
  display: none;
}
